OPENAI_API_KEY="Enter your OpenAI API key here"
OPENAI_MODEL="Enter your OpenAI model here"
OPENAI_AZURE_API_VERSION = "Enter your OpenAI Azure API version here"
OPENAI_AZURE_API_BASE_URL = "Enter your OpenAI Azure API base URL here"
OPENAI_AZURE_API_KEY = "Enter your OpenAI Azure API key here"
OPENAI_AZURE_API_ENGINE = "Enter your OpenAI Azure API engine here"
TELEGRAM_BOT_TOKEN = "Enter your Telegram bot token here"
STRIPE_PAYMENT_AMOUNT = "Enter your Stripe payment amount here, in cents. For example, 5000 for $50.00"
DISCOUNT_PERCENTAGE_FOR_REFERRAL = "Enter your discount percentage for referral here, in percentage. For example, 10 for 10%"
FREE_CHAT_COUNT = "Enter your free chat count here"
STRIPE_SECRET_KEY = "Enter your Stripe secret key here"
TAVUS_API_KEY = "Enter your Tavus API key here"
ELEVENLABS_API_KEY = "Enter your ElevenLabs API key here"
TWILIO_ACCOUNT_SID = "Enter your Twilio account SID here"
TWILIO_AUTH_TOKEN = "Enter your Twilio auth token here"